<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.domain.item.ItemMapper">

    <select id="findById" parameterType="long" resultType="com.example.demo.domain.item.Item">
        SELECT *
          FROM ITEMS
         WHERE ID = #{id}
    </select>

    <insert id="saveItem" parameterType="com.example.demo.domain.item.Item">
        INSERT INTO ITEMS ( ITEMNAME
                          , PRICE
                          , QUANTITY
                          , OPEN
                          , REGIONS
                          , ITEMTYPE
                          , DELIVERYCODE )
                   VALUES ( #{itemName}
                          , #{price}
                          , #{quantity}
                          , #{open}
                          , #{regions}
                          , #{itemType}
                          , #{deliveryCode})
    </insert>

    <select id="findAll" resultType="com.example.demo.domain.item.Item">
        SELECT *
          FROM ITEMS
    </select>

    <select id="getId" resultType="long">
        SELECT MAX(ID) AS id
          FROM ITEMS
    </select>

    <update id="updateItem" parameterType="com.example.demo.domain.item.Item">
        UPDATE ITEMS
           SET ITEMNAME     = #{itemName}
             , PRICE        = #{price}
             , QUANTITY     = #{quantity}
             , OPEN         = #{open}
             , REGIONS      = #{regions}
             , ITEMTYPE     = #{itemType}
             , DELIVERYCODE = #{deliveryCode}
         WHERE 1=1
           AND ID = #{id}
    </update>

    <delete id="deleteItem" parameterType="long">
        DELETE FROM ITEMS
         WHERE 1=1
           AND ID = #{id}
    </delete>
</mapper>